:root {
    --First-color: #0d1117;
    --Second-color: #161b22;
    --Third-color: #21262d;
    --Light-First-color: #89929b;
    --Light-Second-color: #c6cdd5;
    --Light-Third-color: #ecf2f8;
    --Red-color: #fa7970;
    --Orange-color: #faa356;
    --Green-color: #7ce38b;
    --Blue-color: #a2d2fb;
    --Blue-second-color: #77bdfb;
    --Purple-color: #cea5fb;
}

* {
    transition: all 0.4s;
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    min-height: 90vh;
    background: var(--Light-Third-color);
    margin: 0;
    padding: 0;
    padding: 1rem 0;
    display: block;
    flex-direction: column;
}

header {
    color: var(--Third-color);
    font-size: 2rem;
    text-align: center;
    margin: 2rem 0;
}

main {
    border: 5px solid var(--First-color);
    align-content: center;
    display: block;
    justify-self: center;
    width: 80vw;
    height: 70vh;

}

.input {
    width: 100%;
    display: block;
    height: 40%;
    justify-items: center;
    align-content: center;
}

.input input {
    display: block;
    width: 10%;
    transition: all 0.4s ease-in-out;
    text-align: center;
    margin: 0 0 8rem 0;
    padding: 1rem 5rem;
    border: 2px solid var(--Second-color);
}

.input input:hover {
    border-radius: 10px;
}

.input input:focus {
    box-shadow: 2px 2px 15px -5px var(--First-color);
        border-radius: 10px;
    width: 40%;
}

#VideoLoader {
    user-select: none;
    transition: all 0.2s;
    font-size: 1.5rem;
    padding: 1rem 4rem;
    border-radius: 10px;
    color: var(--Light-Third-color);
    background: var(--Third-color);
    display: block;
}

#VideoLoader:hover {
    filter: brightness(150%);
    box-shadow: 0px 2px 15px -5px var(--First-color);
}

#VideoLoader:active {
    box-shadow: 0px 0px 0px -0px var(--First-color), inset 7px 7px 15px -5px black;

}

.close{
    font-size: 4rem;
    border-radius: 100%;
    left: 92%;
    top: 0;
    position: absolute;
    margin: 1rem 3rem;
    display: block;
    color: var(--Light-Third-color);
    height: 3rem;
    width: 3rem ;
    cursor: pointer;
}.close:hover{
    scale: 1.2;
    filter: brightness(150%);
}
.videoprojector{
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.893);
    width: 100vw;
    height: 100vh;
}
.videoframe{
    width: 70vw;
    height: 70vh;
    border-radius: 20px;
    justify-self: center;
}