:root {
    --First-color: #0d1117;
    --Second-color: #161b22;
    --Third-color: #21262d;
    --Light-First-color: #89929b;
    --Light-Second-color: #c6cdd5;
    --Light-Third-color: #ecf2f8;
    --Red-color: #fa7970;
    --Orange-color: #faa356;
    --Green-color: #7ce38b;
    --Blue-color: #a2d2fb;
    --Blue-second-color: #77bdfb;
    --Purple-color: #cea5fb;
}

* {
    transition: all 0.4s;
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
}


body {
    padding: 2rem 0;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 100vw;
    min-height: 90vh;
    background: var(--Light-Third-color);
    margin: 0;

    display: block;
    align-content: center;
    justify-items: center;
}

main {
    text-align: center;
    color: var(--Light-Third-color);
    justify-content: center;
    align-items: center;

    display: flex;
    width: 80vw;
    height: 80vh;
}

.base {
    /* align-content: center;
    display: block; */
    justify-items: center;
    padding: 2rem 0;
    border-radius: 5px;
    height: inherit;
    width: 65vw;
    background: var(--Light-Second-color);
    box-shadow: 5px 5px 15px -5px var(--First-color);
}

#input {
    user-select: none;
    color: var(--Second-color);
    font-size: 1.8rem;
    text-align: center;
    height: 10vh;
    width: 85%;
    box-shadow: inset 0px 5px 5px -5px var(--First-color);
    background: var(--Light-Third-color);
}

.btnbase {
    margin: 2.5rem 0;
    height: 80%;
    width: 85%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btn {
    text-align: center;
    transition: all 0.3s;
    user-select: none;
    border-radius: 10px;
    font-size: 1.4rem;
    align-self: center;
    justify-self: center;
    height: 60%;
    width: 90%;
}

.btn:hover {
    box-shadow: inset 2px 2px 2px 0px var(--Light-Third-color), 2px 3px 10px -5px var(--First-color);
    background: var(--Light-Second-color);
}

.btn:active {
    box-shadow: inset 2px 2px 2px 0px var(--Third-color),inset 2px 3px 10px -5px var(--First-color);

}